.search-box {
	width: 100%;
	background-color: #fff159;
	display: flex;
	align-items: center;
	justify-content: center;

	input {
		box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
    height: 39px;
		padding: 7px 60px 9px 15px;
    border-radius: 2px;
    background-color: #fff;
    border: 0 rgba(0,0,0,.2);
		color: #333;
    font-size: 16px;
		box-sizing: border-box;
    // width: 100%;
    margin: 0;
    font-family: inherit
	}
}